/* styles for item */
.score {
  position: absolute;
  bottom: 0;
  padding: 3rem;
  color: var(--color-accent-blue);
  font-size: 1.8rem;
  background-color: var(--color-accent-beige);
}
.frame {
  position: relative;
  display: block;
  width: 100%;
}
.poster {
  display: block;
  border-radius: 0.8rem;
  object-fit: cover;
}
.titleText {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}
