.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 4rem;
  min-height: 100vh;
}
.innerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contentWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto 7rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.posterContainer {
  display: flex;
  width: 100%;
  flex: 1 1 40%;
  padding: 4rem;
  max-width: 40%;
  align-items: center;
  justify-content: center;
}
.posterImage {
  border-radius: 0.8rem;
  box-shadow: 0rem 2rem 5rem;
}
.MovieDetailsContainer {
  width: 100%;
  max-width: 60%;
  padding: 4rem;
  flex: 1 1 60%;
}
.headerSection {
  margin-bottom: 2rem;
}
.movieTitle {
  color: aliceblue;
  font-family: "Proza Libre", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 0.5rem;
}
.movieTagline {
  font-family: "Proza Libre";
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  color: grey;
}
.synopsis {
  color: antiquewhite;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.movieOverview {
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 3rem;
  color: white;
}
