.main {
  position: relative;
  display: flex;
  align-items: flex-start;
  user-select: none;
}
.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem 4rem;
  margin-left: 5rem;
}
