.main {
  display: flex;
  flex-direction: row;
}
.body {
}
.contentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 30px;
}
