.genresContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
  font-size: 1.4rem;
  color: var(--color-accent-beige);
}
.genreWrapper {
  margin-right: 2rem;
}
.genreName {
  font-size: 1.1rem;
  color: white;
  padding: 0.5rem 0rem;
  text-decoration: none;
  line-height: 1;
}
